@(cq: CollectionController.CollectionQueue, host: String)

@partials.main("Import") {
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <p>Importing...</p>
                        <div id="records">
                            @for(c <- cq.user.catalogue.toList) {
                                <p class="hidden record">@c.name<br /></p>
                            }
                        </div>
                        <div id="seconds_remaining">
                            <label>X</label> records remaining
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            function updateProgress() {
                $.ajax("/import-progress").done(function(data, textStatus, jqXHR) {
                    console.log(data);
                    $("#records").children(".record").addClass("hidden");
                    $("#records").children(".record:nth-child("+data+")").removeClass("hidden");
                    $("#seconds_remaining").children("label").text(data);

                    if(data == 0) {
                        window.location.replace("http://@host/@cq.user.username/dashboard");
                    }
                });
            }

            var timer = setInterval(updateProgress, 250);
        });
    </script>
}